.slideshowButton{
  margin: 10px;
  padding-top: 20px;
  width: 50px;
  height: 90%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshowContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 500px;
  width: 100%;
}

.pdfHeader{
  display: block;
  font-size: 25px;
  margin: 10px;
}
h1 {
  text-align: left;
  font-size: 20px;
}
h2 {
  font-size: 30px;
  color: white;
  font-weight: 600;
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.infoContainer{
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 400px;
  max-width: 400px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}
.infoContainerTitle{
font-size: 23px;
padding-top: 50px;
padding-left: 5px;
padding-right: 5px;
font-weight: bold;
}
.white{
  color: white;
}
.black{
  color: black;
}
.infoContainerInfo{
  font-size: 25px; 
  margin: 40px 20px 10px 20px; 
  text-align: center;
  padding-bottom: 20px;
}

.heading1{
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.googleMap {
  margin-left: 100px;
  width: 80%;
  height: auto;
  max-width: 600px;
  padding-bottom: 50px;
  cursor: pointer;
  margin-top: 15px;
}
.address{
  font-size: 35px;
  color: black;
  padding-bottom: 20px;
}
.phoneNumbers{
  font-size: 25px;
  color: black;
  text-align: left;
  padding-bottom: 25px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.staffCard{
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.2);
  max-width: 230px;
  display: flex;
  justify-content: center;
  float: right;
}

.staffCardText{
  padding: 0px 10px 10px 0px;
  font-size: 16px;
}

.staffHeading{
  font-size: 40px;
  margin-left: 80px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;
}



.moving{
  color: black;
  text-align: left;
}

@media only screen and (max-width: 770px){
  .moving{
    text-align: center;
  }
  .movingBanner{
    height: 200px;
    background-color: #ffcc6e;
  }
  .slideshowContainer{
    height: 300px;
  }
  .staffCard{
    margin-left: 0px;

  }
  .staffCardText{
    font-size: 20px;
  }
  .staffHeading{
    font-size: 40px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .googleMap{
    margin-left: 0px;
  }
  .phoneNumbers{
    margin-left: 20px;
  }
  .footerText{
    font-size: 25px;
  }
  .infoContainerTitle{
    font-size: 20px;
  }
}


@media only screen and (min-width: 770px) and (max-width: 1000px) {
  .infoContainerInfo{
    font-size: 25px;
  }
  .slideshowContainer{
    height: 300px;
  }
  .googleMap {
    margin-left: 0px;
  }
  .phoneNumbers{
    margin-left: 20px;
  }
  .staffCardText{
    font-size: 16px;
  }
  .footerText{
    font-size: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .staffCardText{
    font-size: 18px;
  }

}

@media only screen and (min-width: 1900px) {
  .infoContainerInfo{
    font-size: 22px;
  }

}

